<div class="" style="width:30%; margin-left:40%;">
    <h1 class="">Опции на админа</h1>
    <a asp-area="Moderator" asp-controller="Admin" asp-action="AddCategory" class="btn btn-block btn-primary" style="width:200px;">Добави категория</a>
    <a asp-area="Moderator" asp-controller="Category" asp-action="CategoryList" class="btn btn-block btn-primary" style="width:200px;">Лист с категории</a>
</div>