<div class="" style="width:30%; margin-left:40%; margin-top:3%;">
    <h1 class="">Опции на админа</h1>
    <a asp-area="Admin" asp-controller="Admin" asp-action="UsersList" class="btn btn-block btn-primary" style="width:200px;">Лист с потребители</a>
</div>