<div class="" style="width:30%; margin-left:40%; margin-top:3%;">
    <h1 class="">Опции на модератора</h1>
    <a asp-area="Moderator" asp-controller="Moderator" asp-action="AddCategory" class="btn btn-block btn-primary" style="width:200px;">Добави категория</a>
    <a asp-area="Moderator" asp-controller="Moderator" asp-action="CategoryList" class="btn btn-block btn-primary" style="width:200px;">Лист с категории</a>
</div>